<main class="guardarropa container">
    
    <h1 class="titulo my-4 text-center">Guardarropas de "Usuario"</h1>

    <div class="row mt-5 mb-3"> 
        <% @guardarropas.each do |guardarropa| %>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-2"> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                <%= link_to guardarropa_prendas_path(guardarropa), class: "text-decoration-none" do %>
                    <div class="card h-100">
                        <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                            <h5 class="container text-center text-dark">
                                <%= guardarropa.Nombre%>
                            </h5>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <section class="navegacion-guardarropa d-flex justify-content-between align-center my-4">
        <%= link_to 'guardarropas/new', class: "btn btn-crear btn-lg" do %>  <i class="fas fa-plus fa-sm"></i> <p class="d-inline">Crear Guardarropa</p><%end%>
        <%= paginate @guardarropas, window: 3 %>
    </section>
</main>