<div class="container d-flex flex-column justify-content-center align-items-center m-auto">
    <h1 class="text-danger">ERROR</h1>
    <h1 class="m-2">No tienes permisos para visualizar esta pantalla</h1>
    <%= link_to guardarropas_path, class: "btn btn-salir btn-lg mt-5" do %>Volver<%end%>
</div>