
<div class="d-flex flex-column vh-100">

    <nav class="navbar navbar-expand-lg landing-navbar fixed-top">
        <div class="container">
            <a class="navbar-brand">QueMePongo</a>

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <i class="fas fa-bars fa-2x"></i>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-between ms-auto"> 
                    <li class="nav-item px-3 rounded">
                        <a class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item px-3 rounded">
                        <a class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item px-3 rounded">
                        <a class="nav-link">Nosotros</a>
                    </li>
                    <li class="nav-item px-3 rounded">
                        <a class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <main class="bg-image">
        <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-black text-center mb-3">No sabes que ponerte?</h1>
            <h1 class="text-white text-center mb-5">AUTOMATIZA TU GUARDARROPA</h1>
            <button type="button" class="btn btn-dark btn-lg px-5 py-3">
                <h3>Descrubri la app</h3>
            </button>
        </div>
    </main>

    <section>
    <div class="container">
        <div class="row my-5">
                <div class="col-md-6 col-sm-12 my-4">
                    <div class="text-center"> 
                        <img class="headshot headshot-2" src="https://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Gonzalo Heredia</h1>
                    <h4 class="text-center py-1"> - Software Developer - </h4>
                    <p class="text-center lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <!-- <div class="col-md-2 col-sm-0"></div> -->

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="text-center"> 
                        <img class="headshot headshot-2" src="https://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Mateo Zanetti</h1>
                    <h4 class="text-center py-1"> - Software Developer - </h4>
                    <p class="text-center lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="text-center"> 
                        <img class="headshot headshot-2" src="https://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Lucas infantino</h1>
                    <h4 class="text-center py-1"> - Software Developer - </h4>
                    <p class="text-center lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <!-- <div class="col-md-2 col-sm-0"></div> -->

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="text-center"> 
                        <img class="headshot headshot-2" src="https://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Federico Amor</h1>
                    <h4 class="text-center py-1"> - Software Developer - </h4>
                    <p class="text-center lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>
        </div>
    </div>
        
    </section>

    <footer>
        <div class="container d-flex flex-row">
            <p class="m-4">QueMePongo &copy; All rights reserved</p>
            <span class="ms-auto">
                <p class="m-4 contacto text-center">Contacto: +54 9 11 2633-4567 | info@quemepongo.com.ar</p>
            </span>
        </div>
    </footer>
</div>








