
<div class="d-flex flex-column vh-100">

    <nav class="navbar navbar-expand-lg landing-navbar fixed-top">
        <div class="container">
            <a class="navbar-brand">QueMePongo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-between ms-auto"> 
                    <li class="nav-item mx-3">
                        <a class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link">Nosotros</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <main class="bg-image">
        <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-black text-center mb-3">No sabes que ponerte?</h1>
            <h1 class="text-white text-center mb-5">AUTOMATIZA TU GUARDARROPA</h1>
            <button type="button" class="btn btn-dark btn-lg px-5 py-3">
                <h3>Descrubri la app</h3>
            </button>
        </div>
    </main>

    <section>
    <div class="container">
        <div class="row my-5">
                <div class="col-5 my-4">
                    <div class="text-center"> 
                         <img class="img-fluid border border-dark rounded-circle" src="https://s.abcnews.com/images/Politics/donald-trump-marjorie-taylor-greene-extremism-02-gty-llr-210206_1612646373841_hpMain_16x9_992.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Gonzalo Heredia</h1>
                    <p class="text-center">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-2"></div>

                <div class="col-5 my-4">
                    <div class="text-center"> 
                         <img class="img-fluid border border-dark rounded-circle" src="https://www.politicargentina.com/advf/imagenes/2019/10/5da07c55ed41c_750x639.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Mateo Zanetti Mendez</h1>
                    <p class="text-center">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-5 my-4">
                    <div class="text-center"> 
                         <img class="img-fluid border border-dark rounded-circle" src="https://infoarenales.com/wp-content/uploads/2020/10/3424040w380.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Lucas infantino</h1>
                    <p class="text-center">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-2"></div>

                <div class="col-5 my-4">
                    <div class="text-center"> 
                         <img class="img-fluid border border-dark rounded-circle" src="https://www.poderypolitica.com.ar/wp-content/uploads/2018/04/An%C3%ADbal-Fernandez-procesado.jpg" alt="">
                    </div> 
                    <h1 class="text-center">Federico Amor</h1>
                    <p class="text-center">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>
        </div>
    </div>
        
    </section>

    <footer>
        <div class="container d-flex flex-row">
            <p class="m-4">QueMePongo &copy; All rights reserved</p>
            <p class="m-4 contacto ms-auto">Contacto: +54 9 11 2633-4567 | info@quemepongo.com.ar</p>
        </div>
        
    </footer>
</div>








