    <main class="bg-image">
        <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-black text-center mb-3">¿No sabes que ponerte?</h1>
            <h1 class="text-white text-center mb-5">AUTOMATIZÁ TU GUARDARROPA</h1>
            <a href="/prendas">
            <button type="button" class="boton_principal btn btn-lg px-5 py-3">
                <h3>Descubrí la app</h3>
            </button>
            </a>
        </div>
    </main>

    <section>
        <div class="container">
            <div class="presentacion row my-5">
                <div class="col-md-6 col-sm-12 my-4">
                    <div class="headshots_foto"> 
                        <div class="headshot headshot-2 Gonzalo" >
                        </div>
                    </div> 
                    <h1>Gonzalo Heredia</h1>
                    <h4 class="py-1"> - Software Developer - </h4>
                    <p class="lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="headshots_foto"> 
                        <div class="headshot headshot-2 Mateo" ></div>
                    </div> 
                    <h1>Mateo Zanetti</h1>
                    <h4 class="py-1"> - Software Developer - </h4>
                    <p class="lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="headshots_foto"> 
                        <div class="headshot headshot-2 Lucas" > </div>
                    </div> 
                    <h1>Lucas infantino</h1>
                    <h4 class="py-1"> - Software Developer - </h4>
                    <p class="lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>

                <div class="col-md-6 col-sm-12 my-4">
                    <div class="headshots_foto"> 
                        <div class="headshot headshot-2 Federico" ></div>
                    </div> 
                    <h1>Federico Amor</h1>
                    <h4 class="py-1"> - Software Developer - </h4>
                    <p class="lead">Donec euismod sapien ut neque tristique egestas. Proin pulvinar lorem a magna ullamcorper consectetur. Sed nec quam vitae metus rutrum hendrerit. Sed gravida semper quam, in placerat lorem dapibus sed.</p>
                </div>
            </div>
        </div>
    </section>
