
<main class="guardarropa container">
    
    <h1 class="titulo my-4 text-center">Mi guardarropa</h1>

    <div class="row mt-5 mb-3"> 
        <% @prendas.each do |prenda| %>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 my-2">
                    <%= link_to prenda, class: "text-decoration-none" do %>
                
                    <div class="card h-100">
                        <img src="https://falabella.scene7.com/is/image/FalabellaAR/880107514_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="imagen de la prenda">
                        
                        <div class="card-body">
                            <h5 class="card-title text-center text-dark"><%= prenda.tipo %></h5>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <section class="navegacion-guardarropa d-flex justify-content-between align-center my-4">
        <%= link_to "Crear nueva prenda", 'prendas/new', class: "btn btn-general btn-lg px-3 py-2"%>  
        <div class="botones-slider">
            <button class="control-left" type="button">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="control-right" type="button">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </section>
</main>

<footer class="footer fixed-bottom">
    <div class="container d-flex flex-row">
        <p class="m-4">QueMePongo &copy; All rights reserved</p>
        <span class="ms-auto">
            <p class="m-4 contacto text-center">Contacto: +54 9 11 2633-4567 | info@quemepongo.com.ar</p>
        </span>
    </div>
</footer>