<main class="guardarropa container">
    
    <h1 class="titulo my-4 text-center">Mi guardarropa</h1>

    <div class="row mt-5 mb-3"> 
        <% @prendas.each do |prenda| %>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 my-2">
                <%= link_to prenda, class: "text-decoration-none" do %>
                    <div class="card h-100">
                        <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                            <%= image_tag( prenda.link_imagen , class:"fotos_cards_index h-100") %>
                        </div>

                        <div class="card-footer">
                            <h5 class="text-center text-dark">
                                <%= prenda.tipo%>
                            </h5>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <section class="navegacion-guardarropa d-flex justify-content-center align-center my-4">
        <%= link_to "Crear nueva prenda", 'prendas/new', class: "btn btn-crear btn-lg px-4 py-3"%>  
    </section>
</main>