// Place all the styles related to the Atuendos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$color-primario: #222126; //Es el equivalente a rgb(34,33,38)
$color-secundario: white; //Es el equivalente a rgb(255,255,255)
$color-terciario: #1B8F88; //Es el equivalente a rgb(104,98,138)
$color-terciario-hover: #115C57;
$color-volver: #F54F47;
$color-volver-hover: #780E12;
//rojo fuerte #ed1c24
//rojo suave #F54F47


.card-fotos-atuendos-new {
    max-height: 6rem;
    alt:"imagen de la prenda";
    overflow: hidden;
}

.columnas-flechas a.prev{
    padding : 0;
    color: $color-primario;
    font-size: calc(1.325rem + .9vw);
    text-decoration: none;
}

.columnas-flechas a.next{
    padding : 0;
    color: $color-primario;
    font-size: calc(1.325rem + .9vw);
    text-decoration: none;
}

.columnas-flechas{
    color: $color-primario;
}

.atuendos-new .card-footer h5 {
    font-size: 1rem;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
}

.invisible{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.card_imagen_atuendos_index {
    max-height: 8rem;
    alt:"imagen de la prenda";
    overflow: hidden;
}

.card_atuendo_show {
    width:30rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.etiquetas_atuendos_new{
    font-size: 1.05rem;
}

//.card-header-atuendos-new{
//    border: 1px solid rgba(0,0,0,.125);
//}
//.form_atuendos{
//    border: 1px solid rgba(0,0,0,.125);
//    padding-left: 1rem;
//    padding-right: 1rem;
//}