// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

///* General *///

$color-primario: #222126; //Es el equivalente a rgb(34,33,38)
$color-secundario: white; //Es el equivalente a rgb(255,255,255)
$color-terciario: #1B8F88; //Es el equivalente a rgb(104,98,138)
$color-terciario-hover: #115C57;
$color-volver: #F54F47;
$color-volver-hover: #780E12;
//rojo fuerte #ed1c24
//rojo suave #F54F47
//cyan #1B8F88
//violeta viejo: (104,98,138)

body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.breadcrumb-item a{
  color: $color-terciario;
  font-weight: bold;
  text-decoration: none;
}

.presentacion {
  text-align: center;
}

span.negrita {
  font-weight: bold;
}

::selection{
  background-color: $color-terciario;
  color: $color-secundario;
}

.color-letra-terciario {
  color: $color-terciario;
}

.fa-bars {
  color: $color-secundario;
}

///* Main *///  
main.bg-image{
  background-image: url(Tajes_de_fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height  : 100vh;
  background-size: auto auto;
}

main.bg-image div h1 {
  font-size: 3.6rem;
  text-shadow: 2px 0 0 $color-primario, -2px 0 0 $color-primario,
    0 2px 0 $color-primario, 0 -2px 0 $color-primario, 1px 1px $color-primario,
    -1px -1px 0 $color-primario, 1px -1px 0 $color-primario,
    -1px 1px 0 $color-primario;
}
main.bg-image div h2 {
  font-size: 3.5rem;
  font-style: italic;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white,
    1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.headshot {
  flex-shrink: 0;
  margin: 20px;
  height: calc(130px + 6vw);
  width: calc(130px + 6vw);
  border: calc(5px + 0.2vw) solid $color-primario;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-2 {
  border-radius: 50%;
  border-color: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

.boton_principal
{
  background-color: $color-terciario;
  color: $color-secundario;
}

.boton_principal:hover, .boton_principal:focus {
  background-color: $color-terciario-hover;
  color: $color-secundario;
  cursor: pointer;
}


///* Footer *///
footer {
  background-color: $color-primario;
  align-self:flex-end;
  width: 100%;
  margin-top: auto;
}

footer p {
  color: $color-secundario;
}

.Gonzalo{
  background-image: url(gonzalo.jpg);
}

.Lucas{
  background-image: url(Lucas.jpg);
}

.Federico{
  background-image: url(Federico.jpg);
}

.Mateo{
  background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQH8ACaHB5czlg/profile-displayphoto-shrink_800_800/0/1617742080328?e=1625702400&v=beta&t=3nbKjyjR_cGlqfmli4KEJExPRuAchkDKaSzwpSJbH4A);
}

.headshots_foto{
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .botones-responsive {
      flex-direction: column;
  }
}

.flash{
  font-size: 1.4rem;
  font-weight: bold;
}

.dropdown-item
{
  background-color: white;


}
.tercio{
  width: 33.33%;
}