// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
nav.landing-navbar{
    //background-color: #35424a;
    background-color: rgb(34,33,38);
}

a.navbar-brand{
    //color: #F08568;
    color: white;
    font-size: 2rem;
}

section div div div div img.img-fluid{
    max-width: 65%;
    height: 100%;
}

.nav-link{
    //color: #F08568;
    color: white;
    font-size: 1.2rem;
}

body{
    height: 100vh;
}

main{
    background-image: url(big-wardrobe.jpg);
    //background: url(minimalist-wardrobe1.jpg) no-repeat 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    //width: 100%;
    //height: 100%;
    background-size: auto auto;
}

main div h1{
    font-size: 4.7rem;
    text-shadow: 2px 0 0 rgb(34,33,38), -2px 0 0 rgb(34,33,38), 0 2px 0 rgb(34,33,38), 0 -2px 0 rgb(34,33,38), 1px 1px rgb(34,33,38), -1px -1px 0 rgb(34,33,38), 1px -1px 0 rgb(34,33,38), -1px 1px 0 rgb(34,33,38);
}
main div h2{
    font-size: 3.5rem;
    font-style: italic;
    //color: rgb(207, 215, 234);
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

div img{
    max-height: 300px;
    max-width: 200px;
}

footer{
    background-color: rgb(34,33,38);
}

footer p{
    color: white;
}


//.nav-link{
//    font-size: 1.35em;
//    color: #F08568;
//}
