// Place all the styles related to the prendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$color-primario: #222126; //Es el equivalente a rgb(34,33,38)
$color-secundario: white; //Es el equivalente a rgb(255,255,255)
$color-terciario: #68628a; //Es el equivalente a rgb(104,98,138)

main.guardarropa h1.titulo{
    //text-decoration: underline;
    //text-decoration-color: $color-terciario;
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.6rem;;
}

main.guardarropa span.firulete{
    color: $color-terciario;
    font-size: 3.6rem;;
}

.btn-general{
    background-color: $color-terciario;
    color: $color-secundario;
}

//main.container-prenda{
//    margin-left: 25%;
//    margin-right: 25%;
//}



