// Place all the styles related to the prendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$color-primario: #222126; //Es el equivalente a rgb(34,33,38)
$color-secundario: white; //Es el equivalente a rgb(255,255,255)
$color-terciario: #1B8F88; //Es el equivalente a rgb(104,98,138)
$color-terciario-hover: #115C57;
$color-volver: #F54F47;
$color-volver-hover: #780E12;
//rojo fuerte #ed1c24
//rojo suave #F54F47

main.guardarropa h1.titulo {
    //text-decoration: underline;
    //text-decoration-color: $color-terciario;
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.6rem;;
}

main.guardarropa span.firulete{ 
    color: $color-terciario;
    font-size: 3.6rem;;
}

.btn-general {
    background-color: $color-terciario;
    color: $color-secundario;
}

.btn-general:hover, .btn-general:focus {
    background-color: $color-terciario-hover;
    color: $color-secundario;
}

.btn-crear {
    background-color: $color-terciario;
    color: $color-secundario;
    font-size: 1.2rem;
}

.btn-crear:hover, .btn-crear:focus {
    background-color: $color-terciario-hover;
    color: $color-secundario;
}

.btn-volver-guardarropas {
    background-color: $color-volver;
    color: $color-secundario;
    font-size: 1.2rem;
}

.btn-volver-guardarropas:hover, .btn-volver-guardarropas:focus {
    background-color: $color-volver-hover;
    color: $color-secundario;
}

.btn-salir {
    color: $color-secundario;
    background-color: $color-volver;
}

.btn-salir:hover, .btn-salir:focus {
    color: $color-secundario;
    background-color: $color-volver-hover;
}

.card-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}

.mi_card_prenda {
    width:30em;
    height: 40em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.mi_card_modif {
    width:30em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.fotos_cards_index {
    max-height: 12rem;
    alt:"imagen de la prenda";
    overflow: hidden;
}

.fotos_cards_show {
    max-height: 15rem;
    alt:"imagen de la prenda";
    overflow: hidden;
    
}

.card-footer-index{
    height: 6rem;
}

.card-footer h5 {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis; //con un height fijo del card-footer deberia funcionar
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
    span{
        font-size: 1.2rem;
        background-color: $color-secundario;
        color: $color-terciario;
        border-top: 0.01rem  solid grey;
        border-bottom: 0.01rem  solid grey;
        border-left: 0.01rem  solid grey;
        
    }

    span:hover{
        background-color: $color-terciario-hover;
        color: $color-secundario;
    }

    span:hover a{
        background-color: $color-terciario-hover;
        color: $color-secundario;
    }

    a:hover{
        background-color: $color-terciario-hover;
        color: $color-secundario;
    }

    a {
        padding:0.35rem 0.6rem ;
        padding-right: 0.6rem ;
        line-height: 2.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: $color-secundario;
        color: $color-terciario;
    }

    span.current{
        padding: 0 0.6rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
        text-decoration: none;
        background-color: $color-terciario;
        color: $color-secundario;
    }

    span.gap {
        padding: 0 0.6rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
        text-decoration: none;
        background-color: $color-secundario;
        color: $color-terciario;
    }

    .first{
        padding : 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        overflow: hidden;
    }
    .prev {
        padding : 0;
    }
    .page{
        padding : 0;
    }
    .next{
        padding : 0;
    }
    .last{
        padding : 0;
        border-right: 0.01rem  solid grey;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        overflow: hidden;
    }
}

.color {
    display: inline-block;
    min-height: 1.3rem;
    min-width: 1.3rem;
    border: 0.01rem  solid $color-primario;
    border-radius: 0.3rem;
    margin: 0;
}